<mat-card class="idea-card">
  <mat-card-header>
    <div mat-card-avatar class="idea-card-header-image"></div>
    <mat-card-title>{{idea.username}}</mat-card-title>
    <mat-card-subtitle>{{idea.createdOn}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="idea-card-title">{{idea.title}}</mat-card-title>
  <mat-card-content class="idea-description">
    <p>{{idea.description}}</p>
  </mat-card-content>
  <mat-chip-list>
    <div class="tags-list">
      <mat-chip *ngFor="let tag of idea.tags">
        {{tag}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-icon-button aria-label="Up Vote" (click)="onFavoriteToggle()">
      <mat-icon color="{{ idea.isFavorite ? 'accent' : 'grey'}}">favorite</mat-icon>
    </button>
    <span class="spacer">{{idea.likeCount}}</span>
    <span (click)="onFavoriteToggle()" [style.color]="'blue'" (click)="showDetailsModal(idea.title)"> See More</span>
  </mat-card-actions>

</mat-card>
